.App {
  text-align: center;
}

.App-header {
  background-color: #206487;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btnStart{
  padding: 10px 40px;
  border-radius: 10px;
  background: white;
  font-size: 20px;
  font-family: Calibri;

}